<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">European Soccer Dasboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link" title="GitHub" href="https://github.com/Blaieet/Vis.-Presentation-Project" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</nav>