{% extends 'layout.html' %}

{% block body %}
    <h1>About</h1>
    <p class="lead">This project is part of the "Visualitzation & Presentation" subject in the <i>Master in Fundamentals of Data Science</i>
        of the Universitat de Barcelona. Its authors are: </p>
        <ul>
            <li>Fernández Cid, Adrián</li>
            <li>Torres Martín, Adrián</li>
            <li>Ras Jimenez, Blai</li>
        </ul>
    <p class="lead">For any question and issue related with the project please <a href="mailto:blai.ras.jim@gmail.com" target="_blank">get in touch with us</a>.
{% endblock %}
