

{% extends 'layout.html' %}

{% block body %}


    <h1 class="display-4">Dashboard</h1>

    <p class="lead">aaaa</p>
    <p>Feel free to navigate between different kinds of graphs</p>
    <hr class="my-4">
    <h1>Top 5 best teams per season</h1>
    <p>Did you ever had an argument with someone about what team was the best of the season, regardless of their trophies or the league? And the worse?</p>
<!--        <a onclick="showOpp()" class="btn btn-outline-dark">Opp</a>-->

    {{ form.year }}
    {{ form.top }}
    <div id="op" style="display:block" class="container">
      <div class="charts text-center">
        <div class="row"><div id="bestTeamYear"></div></div>
        <!-- Placeholder for the tooltip -->
        <div class="vg-tooltip"></div>
      </div>
    </div>

    <hr class="my-4">
    <h1>Which league has the most goals per game?</h1>
    <p>I'm sure that you as a soccer fan ever wondered what's the most interesting league to watch. Well, usually, the more goals, the more fun.
    Let's check out how many goals per game we have on each league on each season!</p>
    <div id="triple" style="display:block" class="container">
      <div class="charts text-center">

        <div class="row"><div id="goals-game"></div></div><hr>
        <!-- Placeholder for the tooltip -->
        <div class="vg-tooltip"></div>
      </div>
    </div>

    <hr class="my-4">
    <h1>Home Advantage</h1>
    <p>You may already know, but, in soccer and a lot of other sports, playing on your field (a.k.a. being the "local team") affects a lot on your
    performance. Don't believe me?</p>
    <div id="triple" style="display:block" class="container">
      <div class="charts text-center">
        <div class="row"><div id="homeAdv"></div></div><hr>
        <!-- Placeholder for the tooltip -->
        <div class="vg-tooltip"></div>
      </div>
    </div>


    <!-- Render Charts -->
    <script type="text/javascript">
        function render(url, div) {
            var opt = {
                mode: "vega-lite",
                renderer: "svg",
                actions: {export: true, source: false, editor: false}
            };

            vegaEmbed("#"+div, url, opt, function(error, result) {
                // result.view is the Vega View, url is the original Vega-Lite specification
                vegaTooltip.vegaLite(result.view, url);
            });
        }
        render("/data/goalsGame","goals-game");
        render("/data/homeAdv","homeAdv");
    </script>

    <script type="text/javascript">
        function showOpp() {
            var graph = document.getElementById("op");
            if (graph.style.display == "none") {
                graph.style.display = "block";
            } else {
                graph.style.display = "none"
            }
        }
    </script>

    <script>
        var yearSelect = document.getElementById("year");
        var radio = document.getElementById("top");


        function renderYear() {
            console.log(radio.value);

            year = yearSelect.value;
            radioValue = radio.value;
            console.log(year);
            render("/data/best_team/" + year+"/"+radioValue, "bestTeamYear");
        }

        window.onload = renderYear;
        yearSelect.onchange = renderYear;
        radio.onchange=renderYear;

    </script>

{% endblock %}