

{% extends 'layout.html' %}

{% block body %}
    <style>
        .row {
          display: flex;
        }

        .column {
          flex: 50%;
        }
    </style>
    <h1 class="display-4">Dashboard</h1>

    <p class="lead">Here you can find various insights about this wide database that we usually would not see if they were not showed in a graphical way.
    Feel free to navigate between this different kinds of plots and interact with them. What conclusion can you take from them? Get lost!</p>

    <!--        <a onclick="showOpp()" class="btn btn-outline-dark">Opp</a>-->
    <hr class="my-4">
    <h1>aaa</h1>
    <p>descr</p>
    {{ form.year }}
    {{ form.top }}
    <div class="row">
        <div class="column">
            <div id="op" style="display:block" class="container">
              <div class="charts text-center">
                <div class="row"><div id="bestTeamYear"></div></div>
                <!-- Placeholder for the tooltip -->
                <div class="vg-tooltip"></div>
              </div>
            </div>
        </div>
        <div class="column">
            <div id="" style="display:block" class="container">
                <div class="charts text-center">

                <div class="row"><div id="goals-game"></div></div>
                <!-- Placeholder for the tooltip -->
                <div class="vg-tooltip"></div>
                </div>
            </div>
        </div>
    </div>


    <hr class="my-4">
    <h1>Home Advantage</h1>
    <p>You may already know, but, in soccer and a lot of other sports, playing on your field (a.k.a. being the "local team") affects a lot on your
    performance. Don't believe me?</p>
    <div id="" style="display:block" class="container">
      <div class="charts text-center">
        <div class="row"><div id="homeAdv"></div></div>
        <!-- Placeholder for the tooltip -->
        <div class="vg-tooltip"></div>
      </div>
    </div>

    <hr class="my-4">
    <h1>Points Avg</h1>
    <p>description</p>
    <div id="" style="display:block" class="container">
      <div class="charts text-center">
        <div class="row"><div id="points_avg"></div></div>
        <!-- Placeholder for the tooltip -->
        <div class="vg-tooltip"></div>
      </div>
    </div>


    <!-- Render Charts -->
    <script type="text/javascript">
        function render(url, div) {
            var opt = {
                mode: "vega-lite",
                renderer: "svg",
                actions: {export: true, source: false, editor: false}
            };

            vegaEmbed("#"+div, url, opt, function(error, result) {
                // result.view is the Vega View, url is the original Vega-Lite specification
                vegaTooltip.vegaLite(result.view, url);
            });
        }
        render("/data/goalsGame","goals-game");
        render("/data/homeAdv","homeAdv");
        render("/data/points_rating/Leicester","points_avg");

    </script>

    <script type="text/javascript">
        function showOpp() {
            var graph = document.getElementById("op");
            if (graph.style.display == "none") {
                graph.style.display = "block";
            } else {
                graph.style.display = "none"
            }
        }
    </script>

    <script>
        var yearSelect = document.getElementById("year");
        var radio = document.getElementById("top");


        function renderYear() {
            console.log(radio.value);

            year = yearSelect.value;
            radioValue = radio.value;
            console.log(year);
            render("/data/best_team/" + year+"/"+radioValue, "bestTeamYear");
        }

        window.onload = renderYear;
        yearSelect.onchange = renderYear;
        radio.onchange=renderYear;

    </script>

{% endblock %}