{% extends 'layout.html' %}

{% block body %}

    <style>
        /* Override UGG site */
        #main {width: 100%; padding:0;}
        .content-asset p {margin:0 auto;}
        .breadcrumb {display:none;}

        /* Helpers */
        /**************************/
        .margin-top-10 {padding-top:10px;}
        .margin-bot-10 {padding-bottom:10px;}

        /* Typography */
        /**************************/

        .first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

        .sc {color: #3b8595;}
        .ny {color: #3d3c3a;}
        .atw {color: #c48660;}
        .final {color:  #0053A0}

        /* Section - Title */
        /**************************/
        #parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
        #parallax-world-of-ugg .title h1 {font-size:60px; letter-spacing:3px;}
        #parallax-world-of-ugg h2 {font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}

        /* Section - Block */
        /**************************/
        #parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
        #parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
        #parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

        /* Section - Parallax */
        /**************************/
        #parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url("static/images/BlurField.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
        #parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url("static/images/Pasillo.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
        {##parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}#}

        #parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url("static/images/botaBG.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

        #parallax-world-of-ugg .parallax-four {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url("static/images/LeicesterTrophy.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}



        /* Extras */
        /**************************/
        #parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

        /* Media Queries */
        /**************************/
        @media screen and (max-width: 959px) and (min-width: 768px) {
          #parallax-world-of-ugg .block {padding: 40px; width:620px;}
        }
        @media screen and (max-width: 767px) {
          #parallax-world-of-ugg .block {padding: 30px; width:420px;}
          #parallax-world-of-ugg h2 {font-size:30px;}
          #parallax-world-of-ugg .block {padding: 30px;}
          #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
        }
        @media screen and (max-width: 479px) {
          #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
        }

        grid-container {
            display: grid;
            {#grid-template-rows: repeat(auto-fit, minmax(100px,2fr));#}
            grid-template-columns: repeat(auto-fit, minmax(100px,2fr));
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            grid-gap: 10px;
        }

        grid-item {
          display: flex;            /* new */
          align-items: center;      /* new */
          justify-content: center;  /* new */
        }

        /* can ignore styles below; decorative only */
        grid-container {

          padding: 10px;
        }
        grid-item {
        }

    </style>

    <div id="parallax-world-of-ugg">

        <section>
          <div class="title">
            <h1 class="display-4">The Leicester City F.C. Miracle run</h1>
          </div>
        </section>

        <section>
          <div class="block">
            <p><span class="first-character sc">O</span>n the 2nd of May of 2016 the Leicester City F.C, also know as "the Foxes", became the Premier League Season 2015/2016 champion.
                Not Chelsea, or Arsenal, or Manchester United, teams burnished with petro-dollars and star figures.
                At the start of the season, bookmakers had Leicester at an incredible 5.000 to 1 odds to win the championship.
                The best position Leicester got in all the Premier League history was second, and that happened in 1929. In fact, in the
                previous season, they almost did not escape the relegation zone of the league. This is their story, in numbers.</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-tot-10">The Leicester City F.C. was founded in 1884, earlier than Chelsea F.C., FC Barcelona or Real Madrid CF. Nevertheless,
            till 7 years ago, it was not considered a top-ten football club, not even one of the best top twenty England teams. Who would have guessed that after
            an unnoticed promotion to the highest-level soccer league in England, the Premier League, they were about to change the history of soccer, twice.</p>
          </div>
        </section>

        <section>
            <div class="parallax-one">
              <h2>A new opportunity</h2>
            </div>
        </section>

        <section>
          <div class="block">
            <p><span class="first-character final">T</span>he Leicester City F.C. was almost unknown for everyone till the 2008-09 season, when after winning the England
              third division league they promoted to the English Football League, the England second division. Even though they almost won the play-offs for
              promotion in the 2011-12 season, they journey trough the EFL was quite discreet.</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Therefore, their 2013-14 season run was a total upset for everyone. Not only they finished first in the classification,
                they managed to win with over 8 points from the second best, the "Burnley F.C.". More than 30 points separate their final result of
                the two last seasons in second division.
            </p>
          </div>
        </section>

        <section>
            <div style="">
                <grid-container>
                    <grid-item>
                        <div class="card" style="text-align: center">
                            <h5 class="card-title">Leicester performance on the last 2 EFL Seasons</h5>
                            <div id="EFL"></div><div class="vg-tooltip"></div>
                            <div class="card-footer text-muted" style="margin-top: 1%">
                                It looked like another mediocre season at the beginning, but then the Foxes ramped up to first place.
                            </div>
                        </div>
                    </grid-item>
                </grid-container>
            </div>
        </section>

        <section>
            <div class="parallax-two" style="text-align: center">
                <h2>A disheartening crash</h2>
            </div>
        </section>


        <section>
          <div class="block">
            <p><span class="first-character atw">T</span>he hype of the promotion to the Premier League ended quickly for the Foxes as they finished the
                season in 14th place with 41 points, getting less than 20 points from 29 matches. In fact, they ended up at the bottom of the classification
            on Christmas, at the end of the first half of the season.</p>
        </section>

        <section>
            <div>
                <grid-container>
                    <grid-item>
                        <div class="card" style="text-align: center">
                            <h5 class="card-title">Leicester (14th) and Chelsea (1st) performances on the 2014-15 Premier League</h5>
                            <div id="ChelseaLei"></div><div class="vg-tooltip"></div>
                            <div class="card-footer text-muted" style="margin-top: 1%">
                                Chelsea only dropped three games whilst Leicester managed to woke up after week 29th.
                            </div>
                        </div>
                    </grid-item>
                </grid-container>
            </div>
        </section>

        <section>
          <div class="block">
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">They merely avoided the relegation to the EFL but overall an underwhelming season for the Foxes and a big dissapointment
                for all their followers who though that was the beginning of something big.</div>
        </section>

        <section>
            <div>
                <grid-container>
                    <grid-item>
                        <div class="card" style="text-align: center">
                            <h5 class="card-title">aaaaaaaaaaaaaaaaaaaaaaaaaa</h5>
                            <div id="evo1415"></div><div class="vg-tooltip"></div>
                            <div class="card-footer text-muted" style="margin-top: 1%">
                                The Foxes ended at the bottom tail in 2014/15.
                            </div>
                        </div>
                    </grid-item>
                </grid-container>
            </div>
        </section>

        <section>
            <div class="parallax-three" style="text-align: center">
                <h2>The rise of the phoenix/foxes!</h2>
            </div>
        </section>

        <section>
            <div class="block">
                <p><span class="first-character ny">A</span>s any underdog story, the 2015/2016 Leicester City season started with skepticism from the experts. The disappointing previous season didn't help to raise any kind of optimism for the new season. Most betting sites had Leicester at 5000 to 1 odds to win the Premier League. This may seem excessive, but considering historic results it was unlikely that a team outside of the top 6 would make it, especially a team that barely escaped relegation the previous season.</p>
                <p class="margin-top-10">This was the debut season for coach Claudio Ranieri. The italian manager had vast experience training all over Europe,
                but had failed to achieved any success the last few years. The coach's appointment was not received with much enthusiasm, it seemed like a short-term option to avoid relegation once again.
                <p class="margin-top-10">The season started with a 4-2 home win against Sunderland. This result returned some hope to the fans, but it was impossible to foresee what was yet to come. The following matches continued the good trend, but the leading teams were not losing either. Expert's favourite Manchester City was untouchable. However, after Gameweek 9 the top teams started to lose points and Leicester made a 4 game win streak that culminated with them taking the lead at Gameweek 13, surpassing Man City and Arsenal.</p>
            </div>
        </section>

        <section>
            <div>
                <grid-container>
                    <grid-item>
                        <div class="card" style="text-align: center">
                            <h5 class="card-title">Team points & Mean player rating of the Season 2015-16 Premier League</h5>
                            <div id="outlier1516"></div><div class="vg-tooltip"></div>
                            <div class="card-footer text-muted" style="margin-top: 1%">
                                What an outlier, huh?
                            </div>
                        </div>
                    </grid-item>
                </grid-container>
            </div>
        </section>

        <section>
            <div class="block">
                <p class="margin-top-10">This run was fueled by an incredible scoring streak from the main striker Jamie Vardy. Starting at Gameweek 4 and ending at Gameweek 15, Vardy scored in 11 consecutive matches. This set the record form most consecutive Premier League games with a goal.</p>
                <p class="margin-top-10">After a long stretch of games where Arsenal and Leicester fought for the lead, the foxes took the first spot again at Gameweek 23 after a 3-0 home win against Stoke City. By this time, there were no doubters anymore: Leicester City was a real contender to win the Premier League. However, could they maintain this form during the remaining of the season? Surprisingly, the historical top teams were the ones that broke down under pressure. Only Tottenham could maintain the pace up until a certain point. Meanwhile, humble Leicester City kept playing as if the whole world wasn't looking.<br>
                <br>At Gameweek 36 the moment came. If they won Man United they would clinch the League with 2 games yet to play. They draw, but the wait didn't last much longer. The next day Tottenham draw at Stamford Bridge, giving the League away to Leicester. Extraordinarily, Ranieri didn't watch this game, since he was flying back from visiting his 96-year old mother in Italy.</p>
            </div>
        </section>

        <section>
            <div>
                <grid-container>
                    <grid-item>
                        <div class="card" style="text-align: center">
                            <h5 class="card-title">aaaaaaaaaaaaaaaaa</h5>
                            <div id="evo1516"></div><div class="vg-tooltip"></div>
                            <div class="card-footer text-muted" style="margin-top: 1%">
                                aaaaaaaaaaaaaaaaaaaaaaaa
                            </div>
                        </div>
                    </grid-item>
                </grid-container>
            </div>
        </section>

        <section>
            <div class="parallax-four" style="text-align: center">
                <h2>A story to remember</h2>
            </div>
        </section>

        <section>
            <div class="block">
                <p><span class="first-character final">S</span>ometimes, tenacity gets it all! Many have wondered about the cause of this miraculous event. Some praise Ranieri’s tactical game. Others attribute it more to the ability of humbler players to enjoy the game and work together, or to an underrating of the spearheads like Mahrez and Vardy. There are also those who try to find more contingent causes, like the team having largely avoided wounds and compromising in-week European games throughout the season.  The more superstitious even point out the “providential” coincidence that an ancient king of the region was given proper burial right before the miracle season, which would have cast a protective aura around the team!<br>
                Right after that they crashed a bit, now they recovered and are doing well, but nothing compared to the miracle run-
                Sure, this is all interesting to dwell on.  However, the thrill is that in 2015 our David overcame Goliath in the Premier League, engraving its own beautiful, epic chronicle in sports history forever. Inspiring, isn’t it?</p>
            </div>
            <div>
                <grid-container>
                    <grid-item>
                        <img src="/static/images/CelebrationWin.jpg" width="60%">
                    </grid-item>
                </grid-container>
            </div>
            <div class="block" style="margin-top: 0px">
                <p class="line-break margin-top-1"></p>
                <p class="margin-top-10">As it was expected, even with the miracle win and the huge prize coming from the Champions League qualification, the team could not retain their main stars. Crucial midfielder N'Golo Kanté joined Chelsea the next season. Magical winger Riyad Mahrez joined Man City a couple of years after. The following seasons were rather mediocre compared with the fantastic 2015/16 campaign. The team stabilized at the middle of the table.<br>
                However, the top scorer of the miracle season, Jamie Vardy, stayed with the team. Now, as team's captain, he leads a new group of young players which aims to replicate the incredible story. Last season, they were on the verge of qualifying for the Champions League, ending in fifth position. This season they are currently in fourth place, within reach of the first position.</p>
            </div>
        </section>
    </div>


<script type="text/javascript">
    function render(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: {export: true, source: false, editor: false}
        };

        vegaEmbed("#"+div, url, opt, function(error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    render("/data/outlier","outlier");
    render("/data/outlier1516","outlier1516");
    render("/data/comparePoints/EFL","EFL");
    render("/data/comparePoints/1415","ChelseaLei");
    render("/data/seasonEvolution1415","evo1415");
    render("/data/seasonEvolution1516","evo1516");



</script>

{% endblock %}
