{% extends 'layout.html' %}

{% block body %}
    <h1 class="display-4">The Leicester City F.C. Miracle Run</h1>

    <p class="lead">On the 2nd of May of 2016 the Leicester City F.C. became the Premier League Season 2015/2016 champion.
    Not Chelsea, or Arsenal, or Manchester United, teams burnished with petro-dollars and star figures.<br>
    At the start of the season, bookmakers had Leicester at an incredible 5.000 to 1 odds to win the championship.<br>
    The best position Leicester got in all the Premier League history was second, and that happened in 1929. In fact, in the
    previous season, they almost did not escape the relegation zone of the league.</p>
    <p class="lead">This is their story, in numbers.</p>
    <div class="text-xs-center">
        <ul class="pagination" style="justify-content: center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
    <hr class="my-4">

{% endblock %}
