{% extends 'layout.html' %}

{% block body %}

    <style>
        /* Override UGG site */
        #main {width: 100%; padding:0;}
        .content-asset p {margin:0 auto;}
        .breadcrumb {display:none;}

        /* Helpers */
        /**************************/
        .margin-top-10 {padding-top:10px;}
        .margin-bot-10 {padding-bottom:10px;}

        /* Typography */
        /**************************/

        .first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

        .sc {color: #3b8595;}
        .ny {color: #3d3c3a;}
        .atw {color: #c48660;}

        /* Section - Title */
        /**************************/
        #parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
        #parallax-world-of-ugg .title h1 {font-size:60px; letter-spacing:3px;}
        #parallax-world-of-ugg h2 {font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}

        /* Section - Block */
        /**************************/
        #parallax-world-of-ugg .block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
        #parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
        #parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

        /* Section - Parallax */
        /**************************/
        #parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url("static/images/BlurField.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
        #parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url("static/images/Pasillo.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
        {##parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url(); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}#}

        #parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url("static/images/botaBG.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

        #parallax-world-of-ugg .parallax-four {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url("static/images/LeicesterTrophy.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}



        /* Extras */
        /**************************/
        #parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

        /* Media Queries */
        /**************************/
        @media screen and (max-width: 959px) and (min-width: 768px) {
          #parallax-world-of-ugg .block {padding: 40px; width:620px;}
        }
        @media screen and (max-width: 767px) {
          #parallax-world-of-ugg .block {padding: 30px; width:420px;}
          #parallax-world-of-ugg h2 {font-size:30px;}
          #parallax-world-of-ugg .block {padding: 30px;}
          #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
        }
        @media screen and (max-width: 479px) {
          #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
        }

        grid-container {
            display: grid;
            {#grid-template-rows: repeat(auto-fit, minmax(100px,2fr));#}
            grid-template-columns: repeat(auto-fit, minmax(100px,2fr));
            grid-auto-rows: auto;
            grid-auto-columns: auto;
            grid-gap: 10px;
        }

        grid-item {
          display: flex;            /* new */
          align-items: center;      /* new */
          justify-content: center;  /* new */
        }

        /* can ignore styles below; decorative only */
        grid-container {

          padding: 10px;
        }
        grid-item {
        }

    </style>

    <div id="parallax-world-of-ugg">

        <section>
          <div class="title">
            <h1 class="display-4">The Leicester City F.C. Miracle run</h1>
          </div>
        </section>

        <section>
          <div class="block">
            <p><span class="first-character sc">O</span>n the 2nd of May of 2016 the Leicester City F.C, also know as "the Foxes", became the Premier League Season 2015/2016 champion.
                Not Chelsea, or Arsenal, or Manchester United, teams burnished with petro-dollars and star figures.
                At the start of the season, bookmakers had Leicester at an incredible 5.000 to 1 odds to win the championship.
                The best position Leicester got in all the Premier League history was second, and that happened in 1929. In fact, in the
                previous season, they almost did not escape the relegation zone of the league. This is their story, in numbers.</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-tot-10">The Leicester City F.C. was founded in 1884, earlier than Chelsea F.C., FC Barcelona or Real Madrid CF. Nevertheless,
            till 7 years ago, it was not considered a top-ten football club, not even one of the best top twenty England teams. It was in 2014, when after 6 years of poor
            results in second division, they managed to climb the ladder promote to Premier League, the highest-level soccer league in England.</p>
          </div>
        </section>

        <section>
            <div class="parallax-one">
              <h2>Chart / Chapter 1</h2>
            </div>
        </section>

        <section>
          <div class="block">
            <p><span class="first-character sc">E</span>ven though they almost won the play-offs for promotion in the 2011-12 season, the Leicester journey in the England second division, also
                known as English Football League, is quite mediocre and underwhelming. Therefore, their 2013-14 season run was a total upset for everyone, finishing first in the classification
                with over 8 points from the second best, the "Burnley F.C."</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">The hype of the promotion to the Premier League ended quickly for the Foxes as they finished the season in 14th place with 41 points.
                In fact, they did a first "small" miracle run: they survived from relegation after being at the bottom of the classification at Christmas. It's the only
                team in the England soccer history that managed to get less than 20 points from 29 matches and not get relegated. What an upturn!
            </p>
          </div>
        </section>

        <section>
            <div class="parallax-two" style="text-align: center">
                <h2>Chart 2</h2>
                <section>
                    <div style="">
                        <grid-container>
                            <grid-item>
                                <div class="card" style="margin-top: 2%;">
                                    <h5 class="card-title">Leicester performance on the last 2 EFL Seasons</h5>
                                    <div id="EFL"></div><div class="vg-tooltip"></div>
                                    <div class="card-body" style="color: black">
                                        <p class="card-text">It looked like another mediocre season at first glance, but then the Foxes ramped up to first place.</p>
                                    </div>
                                </div>
                            </grid-item>
                        </grid-container>
                    </div>
                    <div>
                        <grid-container>
                            <grid-item>
                                <div class="card" style="margin-top: 2%;">
                                    <h5 class="card-title">Leicester (14th) and Chelsea (1st) performances on the 2014-15 Premier League</h5>
                                    <div id="ChelseaLei"></div><div class="vg-tooltip"></div>
                                    <div class="card-body" style="color: black">
                                        <p class="card-text">Chelsea only dropped three games whilst Leicester managed to woke up after week 29th.</p>
                                    </div>
                                </div>
                            </grid-item>
                        </grid-container>
                    </div>
                </section>
            </div>
        </section>


        <section>
          <div class="block">
            <p><span class="first-character atw">W</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </section>

        <section>
            <div class="parallax-three" style="text-align: center">
                <h2>Chart 2</h2>
                <section>
                    <div>
                        <grid-container>
                            <grid-item>
                                <div class="card" style="margin-top: 2%;">
                                    <h5 class="card-title">Team points & Mean player rating of the Season 2014-15 Premier League</h5>
                                    <div id="outlier"></div><div class="vg-tooltip"></div>
                                    <div class="card-body" style="color: black">
                                        <p class="card-text">It looked like another mediocre season at first glance, but then the Foxes ramped up to first place.</p>
                                    </div>
                                </div>
                            </grid-item>
                            <grid-item>
                                <div class="card" style="margin-top: 2%;">
                                    <h5 class="card-title">Team points & Mean player rating of the Season 2015-16 Premier League</h5>
                                    <div id="outlier1516"></div><div class="vg-tooltip"></div>
                                    <div class="card-body" style="color: black">
                                        <p class="card-text">It looked like another mediocre season at first glance, but then the Foxes ramped up to first place.</p>
                                    </div>
                                </div>
                            </grid-item>
                        </grid-container>
                    </div>
                </section>
            </div>
        </section>

        <section>
          <div class="block">
            <p><span class="first-character ny">B</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </section>

        <section>
            <div class="parallax-four" style="text-align: center">
                <h2>Chart 3</h2>
                <section>
                    <div style="">
                        <grid-container>
                            <grid-item>
                                <div class="card" style="margin-top: 2%;">
                                    <h5 class="card-title">Top 3, bottom 3 and Leicester in the 2014/2015 PL season</h5>
                                    <div id="evo1415"></div><div class="vg-tooltip"></div>
                                    <div class="card-body" style="color: black">
                                        <p class="card-text">It looked like another mediocre season at first glance, but then the Foxes ramped up to first place.</p>
                                    </div>
                                </div>
                            </grid-item>
                        </grid-container>
                    </div>
                    <div>
                        <grid-container>
                            <grid-item>
                                <div class="card" style="margin-top: 2%;">
                                    <h5 class="card-title">Top 4 and Chelsea in the 2015/2016 PL season</h5>
                                    <div id="evo1516"></div><div class="vg-tooltip"></div>
                                    <div class="card-body" style="color: black">
                                        <p class="card-text">Chelsea only dropped three games whilst Leicester managed to woke up after week 29th.</p>
                                    </div>
                                </div>
                            </grid-item>
                        </grid-container>
                    </div>
                </section>
            </div>
        </section>

        <section>
          <div class="block">
            <p><span class="first-character atw">W</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </section>

    </div>


<script type="text/javascript">
    function render(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: {export: true, source: false, editor: false}
        };

        vegaEmbed("#"+div, url, opt, function(error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    render("/data/outlier","outlier");
    render("/data/outlier1516","outlier1516");
    render("/data/comparePoints/EFL","EFL");
    render("/data/comparePoints/1415","ChelseaLei");
    render("/data/seasonEvolution1415","evo1415");
    render("/data/seasonEvolution1516","evo1516");



</script>

{% endblock %}
